<!-- Forget-password -->
<!-- Stylesheet -->
<link rel="stylesheet" href="/css/usersign_in.css">

<div class="main-container">
    <h2>RESET FORGET PASSWORD</h2>
    <form action="/users/create-session" method="POST" class="form">
        <label>Email</label>
        <input type="email" name="email" placeholder="Email"  required>
        <label>New Password</label>
        <input type="password" name="password" placeholder="New Password"  required>
        <label>Confirm Password</label>
        <input type="password" name="password" placeholder="Confirm Password"  required>
        <div class="btn">
            <button>Change Password</button>
        </div>
        
    </form>   
</div>